extends ../layout

block style
  link(rel='stylesheet', media='all', type='text/css' href='#{basePath}/css/theme-#{defaultTheme}.css') 
  link(rel='stylesheet', media='print', type='text/css' href='#{basePath}/css/theme-#{defaultTheme}.print.css') 

block script
  - var suffix = (type && type == 'edit') ? '-edit' : ''
  if environment == 'production'
    script(src='#{basePath}/js/enketo-webform#{suffix}-bundle.min.js')
  else
    script(src='#{basePath}/js/enketo-webform#{suffix}-dev-bundle.js')
 
block content
  include component/_notification
  .main
    article.paper
      include component/_form-header
      | !{form}
      unless form
        .form__loader
          .form__loader__image
      include component/_form-footer
  section.unga-footer(style="display:none")
    .logos
      .logo-myo
        a(href="http://myworld2030.org", target="_blank")
          img.myo(src="/images/logo-myo.png")
      .logo-sdg
        a(href="http://sdgactioncampaign.org", target="_blank")
          img.sdg(src="/images/logo-sdg.png")
      .logo-wee
        a(href="https://www.empowerwomen.org/en/who-we-are/initiatives/sg-high-level-panel-on-womens-economic-empowerment", target="_blank")
          img.wee(src="/images/logo-wee.png")
    .powered-by
      .powered-by-text Powered by
      a(href="http://kobotoolbox.org/", target="_blank") 
        img.kobo(src="/images/logo-kobo.png")
      a(href="https://enketo.org", target="_blank")(style="display:none")
        img.enketo(src="/images/logo-enketo.png")

  if manifest
    include component/_side-slider
  include component/_feedback-bar
